.about, .div, .bigcontainer{
    margin: 20px;
    background-color: white;
    
}

h2{
    font-size: 200%;
    margin-left: 5%;
    margin-bottom: 3%;
    font-family: 'Give You Glory', cursive;
    color: darkorange;
}

h3, p{
    font-family: 'Give You Glory', cursive;
    color: black;
    line-height: 35px;
    font-size: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

@import url('https://fonts.googleapis.com/css?family=Give+You+Glory');